.cover {
  width: 350px;
  height: 500px;
  /* finish your styling of the cover div here! */
  background-color: gray;
}
#title {
  text-align: center;
  font-size: 48px;
  padding-top: 48px;
  margin-bottom: 0px;
}

#subtitle {
  text-align: center;
  font-size: 12px;
  color: aqua;
  opacity: 0.5;
  padding-left: 112px;
}

#cover_image {
  display: block;
  margin: auto;
  padding-top: 56px;
  width: 256px;
  height: 156px;
}
